{"swagger":"2.0","info":{"title":"nBold","description":"Teams Template and Creation Automation with Channels, Files Template, Folder structure, Planner template with tasks; Governance Automation for Microsoft Teams.\n","version":"1.0.1","x-ms-deployment-version":"1.0.1","x-ms-api-annotation":{"status":"Preview"},"contact":{"name":"nBold Support","url":"https://docs.nbold.co/api","email":"support@nbold.co"},"license":{"name":"(c) Copyright 2021-2023 nbold - all rights reserved.","url":"https://nbold.co/legal/eula"}},"x-ms-connector-metadata":[{"propertyName":"Website","propertyValue":"https://nbold.co"},{"propertyName":"Privacy policy","propertyValue":"https://nbold.co/legal/privacy"},{"propertyName":"Categories","propertyValue":"Productivity;IT Operations"}],"host":"api.nbold.io","basePath":"/","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/api/v3.0/approvals/{approvalRequestId}/approve":{"post":{"operationId":"ApproveTeamCreation","summary":"Approve a team request","description":"This endpoint allows an admin or authorized user to approve a team request based on the provided team ID. The approval action will update the team status to approved.","x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"ApproveTeamCreation","revision":1},"parameters":[{"name":"approvalRequestId","in":"path","x-ms-summary":"Approval Request","description":"The ID of the approval request you want to approve.","required":true,"type":"string"},{"in":"body","name":"approveTeamCreationRequestBody0","description":"An ApproveTeamCreationRequestBody object.","required":true,"schema":{"x-ms-summary":"A positive approval request body","description":"A positive approval request body.","type":"object","properties":{"approver":{"x-ms-summary":"Approver","description":"Approver of the request","type":"object","properties":{"id":{"x-ms-summary":"ID","description":"Impersonate the approver by specifying a User ID. If empty, you'll be automatically assigned as the approver.","type":"string","title":"ID"}},"required":["id"]},"message":{"x-ms-summary":"Message","description":"Message to be sent to the requester.","type":"string"},"updates":{"x-ms-summary":"Team","description":"Updates made by the approver","type":"object","properties":{"name":{"x-ms-summary":"Name","description":"Overrides the team name defined by the requester.","type":"string"},"description":{"x-ms-summary":"Description","description":"Overrides the team description defined by the requester.","type":"string"},"welcomeMessage":{"x-ms-summary":"Welcome Message","description":"Overrides the welcome message defined by the requester.","type":"string"}}}},"x-ms-visibility":"important","required":["approver"]},"x-ms-visibility":"important"}],"responses":{"201":{"description":"Accepted - The response will also contain a Location header, which contains the location of the teamsAsyncOperation that was created to handle the approval of the team creation request.","schema":{"title":"Approval Request Body","description":"Response for approval request.","type":"object"}},"400":{"description":"Bad Request – The server could not process the request due to client-side issues, such as invalid syntax or malformed data.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"401":{"description":"Unauthorized – Authentication failed. This usually occurs when the request lacks valid credentials (e.g., missing or expired token).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"402":{"description":"Payment Required – Access is restricted due to a lack of valid subscription or payment. Upgrade or renew your subscription to proceed.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"403":{"description":"Forbidden – The server understood the request, but the user does not have permission to access the requested resource.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"404":{"description":"Not Found – The requested resource could not be found on the server, or the server is unwilling to reveal its existence.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"429":{"description":"Too Many Requests – The user has sent too many requests in a given amount of time. Refer to the `Retry-After` header for when to retry.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"500":{"description":"Internal Server Error – The server encountered an unexpected condition that prevented it from completing the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"503":{"description":"Service Unavailable – The server is currently unable to handle the request due to temporary overload or maintenance.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}},"tags":["Approvals"],"x-ms-openai-data":{"openai-enabled":false,"operations":[{"operationId":"ApproveTeamCreation","x-ms-require-user-confirmation":true}]}}},"/api/v3.0/approvals/{approvalRequestId}/reject":{"post":{"tags":["Approvals"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"RejectTeamCreation","revision":1},"summary":"Reject a Team Creation Request","description":"Reject a team creation request.","operationId":"RejectTeamCreation","parameters":[{"name":"approvalRequestId","in":"path","x-ms-summary":"Approval Request","description":"The ID of the approval request you want to reject.","required":true,"type":"string"},{"in":"body","name":"rejectTeamCreationRequestBody","description":"An RejectTeamCreationRequestBody object.","required":true,"schema":{"x-ms-summary":"A negative approval request body","description":"A negative approval request body.","type":"object","properties":{"approver":{"x-ms-summary":"Approver","description":"Approver of the request","type":"object","properties":{"id":{"x-ms-summary":"ID","description":"Impersonate the approver by specifying a User ID. If empty, you'll be automatically assigned as the approver.","type":"string"}}},"message":{"x-ms-summary":"Message","description":"Message to be sent to the requester.","type":"string"}}}}],"responses":{"201":{"description":"Accepted - The response will also contain a Location header, which contains the location of the teamsAsyncOperation that was created to handle the reject of the team creation request.","schema":{"x-ms-summary":"Approval Request Reject Body","description":"Response for approval request reject.","type":"object"}},"400":{"description":"Bad Request – The server could not process the request due to client-side issues, such as invalid syntax or malformed data.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"401":{"description":"Unauthorized – Authentication failed. This usually occurs when the request lacks valid credentials (e.g., missing or expired token).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"402":{"description":"Payment Required – Access is restricted due to a lack of valid subscription or payment. Upgrade or renew your subscription to proceed.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"403":{"description":"Forbidden – The server understood the request, but the user does not have permission to access the requested resource.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"404":{"description":"Not Found – The requested resource could not be found on the server, or the server is unwilling to reveal its existence.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"429":{"description":"Too Many Requests – The user has sent too many requests in a given amount of time. Refer to the `Retry-After` header for when to retry.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"500":{"description":"Internal Server Error – The server encountered an unexpected condition that prevented it from completing the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"503":{"description":"Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}}},"/api/v3.0/me/catalog/templates":{"get":{"tags":["Catalog"],"x-ms-visibility":"advanced","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"GetMyCatalogTemplates","revision":1},"summary":"Get My Teams Collaboration Templates","description":"Get the teams collaboration templates accessible to the connected user filtered by the audience targeting rules.","operationId":"GetMyCatalogTemplates","responses":{"200":{"description":"OK - Returns a collection of CatalogTemplate objects.","schema":{"title":"CollaborationTemplates","description":"A collection of collaboration templates.","type":"array","items":{"type":"object","properties":{"id":{"x-ms-summary":"ID","description":"The unique identifier of the collaboration template.","type":"string"},"template_id":{"x-ms-summary":"Template ID","description":"The identifier of the template.","type":"string"},"name":{"x-ms-summary":"Name","description":"The name of the collaboration template.","type":"string"},"description":{"x-ms-summary":"Description","description":"The description of the collaboration template.","type":"string"},"deleted":{"x-ms-summary":"Deleted","description":"Indicates if the template is deleted.","type":"boolean"},"picture_url":{"x-ms-summary":"Picture URL","description":"The URL of the template's picture.","type":"string"},"enabled":{"x-ms-summary":"Enabled","description":"Indicates if the collaboration template is enabled.","type":"boolean"},"language":{"x-ms-summary":"Language","description":"The language of the collaboration template (e.g., en-us).","type":"string"},"native_template_id":{"x-ms-summary":"Native Template ID","description":"The ID of the native template, if applicable.","type":"string"},"native_template_name":{"x-ms-summary":"Native Template Name","description":"The name of the native template, if applicable.","type":"string"},"cloning_options_team_photo":{"x-ms-summary":"Clone Team Photo","description":"Indicates if the team photo should be cloned.","type":"boolean"},"cloning_options_team_files":{"x-ms-summary":"Clone Team Files","description":"Indicates if team files should be cloned.","type":"boolean"},"cloning_options_secured_channels_files":{"x-ms-summary":"Clone Secured Channels Files","description":"Indicates if secured channel files should be cloned.","type":"boolean"},"cloning_sharepoint":{"x-ms-summary":"Clone SharePoint","description":"Indicates if SharePoint content should be cloned.","type":"boolean"},"cloning_options_messages":{"x-ms-summary":"Clone Messages","description":"Indicates if messages should be cloned.","type":"boolean"},"approval_policy_enabled":{"x-ms-summary":"Approval Policy Enabled","description":"Indicates if the approval policy is enabled.","type":"boolean"},"approval_policy_team":{"x-ms-summary":"Approval Team","description":"List of members in the approval team.","type":"array","items":{"type":"object","properties":{"id":{"x-ms-summary":"ID","description":"User ID (from Active Directory).","type":"string"},"name":{"x-ms-summary":"Name","description":"User display name (from Active Directory).","type":"string"}}}},"guests_policy_restrict_domains":{"x-ms-summary":"Restrict Guest Domains","description":"Indicates if guest domains are restricted.","type":"boolean"},"guests_policy_approved_domains":{"x-ms-summary":"Approved Guest Domains","description":"List of approved guest domains.","type":"string"},"membership_policy_minimum_members":{"x-ms-summary":"Minimum Members","description":"Minimum number of members required for the team.","type":"integer"},"membership_policy_minimum_owners":{"x-ms-summary":"Minimum Owners","description":"Minimum number of owners required for the team.","type":"integer"},"membership_policy_permanent_members":{"x-ms-summary":"Permanent Members","description":"List of permanent members of the team.","type":"array","items":{"type":"object","properties":{"id":{"x-ms-summary":"ID","description":"User ID (from Active Directory).","type":"string"},"name":{"x-ms-summary":"Name","description":"User display name (from Active Directory).","type":"string"}}}},"membership_policy_permanent_owners":{"x-ms-summary":"Permanent Owners","description":"List of permanent owners of the team.","type":"array","items":{"type":"object","properties":{"id":{"x-ms-summary":"ID","description":"User ID (from Active Directory).","type":"string"},"name":{"x-ms-summary":"Name","description":"User display name (from Active Directory).","type":"string"}}}},"membership_policy_requester_as_team_owner":{"x-ms-summary":"Requester as Team Owner","description":"Indicates if the requester is added as a team owner.","type":"boolean"},"security_policy_privacy":{"x-ms-summary":"Privacy","description":"The privacy level of the team.","type":"string","enum":["public","private"]},"security_policy_sensitivity_labels_enabled":{"x-ms-summary":"Sensitivity Labels Enabled","description":"Indicates if sensitivity labels are enabled.","type":"boolean"},"security_policy_sensitivity_labels_templating_expression":{"x-ms-summary":"Sensitivity Labels Templating Expression","description":"Templating expression for sensitivity labels.","type":"string"},"security_policy_sensitivity_labels_templating_encoded":{"x-ms-summary":"Sensitivity Labels Templating Encoded","description":"Encoded templating expression for sensitivity labels.","type":"string"},"lifecycle_policy_enabled":{"x-ms-summary":"Lifecycle Policy Enabled","description":"Indicates if the lifecycle policy is enabled.","type":"boolean"},"lifecycle_policy_inactivity_threshold":{"x-ms-summary":"Inactivity Threshold","description":"Number of days of inactivity before action is taken.","type":"integer"},"lifecycle_policy_expiration_threshold":{"x-ms-summary":"Expiration Threshold","description":"Number of days before the team expires.","type":"integer"},"lifecycle_policy_action":{"x-ms-summary":"Lifecycle Action","description":"Action to take when lifecycle policy is triggered.","type":"string"},"audience_targeting_enabled":{"x-ms-summary":"Audience Targeting Enabled","description":"Indicates if audience targeting is enabled.","type":"boolean"},"audience_targeting_templating_expression":{"x-ms-summary":"Audience Targeting Templating Expression","description":"Templating expression for audience targeting.","type":"string"},"audience_targeting_templating_encoded":{"x-ms-summary":"Audience Targeting Templating Encoded","description":"Encoded templating expression for audience targeting.","type":"string"},"source_team_object_id":{"x-ms-summary":"Source Team ID","description":"The ID of the source team to clone.","type":"string"},"source_team_name":{"x-ms-summary":"Source Team Name","description":"The name of the source team to clone.","type":"string"},"target_team_allow_duplicates":{"x-ms-summary":"Allow Duplicate Teams","description":"Indicates if duplicate target team names are allowed.","type":"boolean"},"target_team_name_templating_expression":{"x-ms-summary":"Team Name Expression","description":"Templating expression for the target team name.","type":"string"},"target_team_name_templating_encoded":{"x-ms-summary":"Encoded Team Name Expression","description":"Encoded team name expression.","type":"string"},"target_team_description_templating_expression":{"x-ms-summary":"Team Description Expression","description":"Templating expression for the target team description.","type":"string"},"target_team_description_templating_encoded":{"x-ms-summary":"Encoded Team Description Expression","description":"Encoded description expression.","type":"string"},"target_team_welcome_message_templating_expression":{"x-ms-summary":"Welcome Message Expression","description":"Templating expression for welcome message.","type":"string"},"target_team_welcome_message_templating_encoded":{"x-ms-summary":"Encoded Welcome Message","description":"Encoded welcome message expression.","type":"string"},"target_team_email_templating_expression":{"x-ms-summary":"Email Templating Expression","description":"Templating expression for team email.","type":"string"},"target_team_email_templating_encoded":{"x-ms-summary":"Encoded Email Templating Expression","description":"Encoded expression for team email.","type":"string"},"target_team_default_name":{"x-ms-summary":"Default Name","description":"Default name for the team if no templating is used.","type":"string"},"target_team_default_description":{"x-ms-summary":"Default Description","description":"Default description for the team.","type":"string"},"target_team_default_welcome_message":{"x-ms-summary":"Default Welcome Message","description":"Default welcome message for the team.","type":"string"},"organization_id":{"x-ms-summary":"Organization ID","description":"ID of the organization to which the template belongs.","type":"string"},"created_at":{"x-ms-summary":"Created At","description":"The timestamp when the template was created.","type":"string","format":"date-time"},"updated_at":{"x-ms-summary":"Updated At","description":"The timestamp when the template was last updated.","type":"string","format":"date-time"},"has_custom_form":{"x-ms-summary":"Has Custom Form","description":"Indicates if the template has a custom form.","type":"boolean"},"custom_form":{"x-ms-summary":"Custom Form","description":"Array of custom form fields.","type":"array","items":{"type":"object"}}}}}},"400":{"description":"Bad Request – The server could not process the request due to client-side issues, such as invalid syntax or malformed data.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"401":{"description":"Unauthorized – Authentication failed. This usually occurs when the request lacks valid credentials (e.g., missing or expired token).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"402":{"description":"Payment Required – Access is restricted due to a lack of valid subscription or payment. Upgrade or renew your subscription to proceed.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"403":{"description":"Forbidden – The server understood the request, but the user does not have permission to access the requested resource.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"404":{"description":"Not Found – The requested resource could not be found on the server, or the server is unwilling to reveal its existence.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"429":{"description":"Too Many Requests – The user has sent too many requests in a given amount of time. Refer to the `Retry-After` header for when to retry.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"500":{"description":"Internal Server Error – The server encountered an unexpected condition that prevented it from completing the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"503":{"description":"Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}},"x-ms-openai-data":{"openai-enabled":false,"operations":[{"operationId":"GetMyCatalogTemplates","x-ms-require-user-confirmation":false}]}}},"/api/v3.0/teams/{teamId}":{"get":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"GetTeam","revision":1},"summary":"Get a Team","description":"Get detailed information about a team.","operationId":"GetTeam","parameters":[{"in":"path","name":"teamId","x-ms-summary":"Team","description":"A team ID.","required":true,"type":"string"}],"responses":{"200":{"description":"OK - Returns a CatalogTemplates object (Collection of CatalogTemplate objects).","schema":{"title":"Collaboration Templates","description":"A collection of collaboration templates.","type":"object","properties":{"id":{"type":"string","description":"Unique identifier of the team","x-ms-summary":"Team ID"},"createdDateTime":{"type":"string","description":"Timestamp when the team was created","x-ms-summary":"Team creation date"},"displayName":{"type":"string","description":"The name of the team","x-ms-summary":"Team name"},"description":{"type":"string","description":"A brief description of the team","x-ms-summary":"Team description"},"internalId":{"type":"string","description":"Internal identifier for the team","x-ms-summary":"Internal Team ID"},"classification":{"type":"string","description":"Classification of the team (if applicable)","x-ms-summary":"Team classification"},"specialization":{"type":"string","description":"Specialization type of the team","x-ms-summary":"Team specialization"},"visibility":{"type":"string","description":"The visibility of the team","x-ms-summary":"Team visibility"},"webUrl":{"type":"string","description":"The web URL to access the team","x-ms-summary":"Team web link"},"isArchived":{"type":"boolean","description":"Indicates whether the team is archived","x-ms-summary":"Team archive status"},"isMembershipLimitedToOwners":{"type":"boolean","description":"Indicates if membership is limited to owners","x-ms-summary":"Membership limited to owners"},"discoverySettings":{"type":"object","x-ms-summary":"Settings","description":"Discovery Settings Body.","properties":{"showInTeamsSearchAndSuggestions":{"type":"boolean","description":"Teams Search And Suggestions.","x-ms-summary":"Teams search"}}},"tagSettings":{"type":"string","description":"Settings related to tags","x-ms-summary":"Tag settings"}}}},"400":{"description":"Bad Request – The server could not process the request due to client-side issues, such as invalid syntax or malformed data.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"401":{"description":"Unauthorized – Authentication failed. This usually occurs when the request lacks valid credentials (e.g., missing or expired token).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"402":{"description":"Payment Required – Access is restricted due to a lack of valid subscription or payment. Upgrade or renew your subscription to proceed.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"403":{"description":"Forbidden – The server understood the request, but the user does not have permission to access the requested resource.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"404":{"description":"Not Found – The requested resource could not be found on the server, or the server is unwilling to reveal its existence.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"429":{"description":"Too Many Requests – The user has sent too many requests in a given amount of time. Refer to the `Retry-After` header for when to retry.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"500":{"description":"Internal Server Error – The server encountered an unexpected condition that prevented it from completing the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"503":{"description":"Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}}},"/api/v3.0/teams/{teamId}/archive":{"post":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"ArchiveTeam","revision":1},"summary":"Archive a Team","description":"Archive a team.","operationId":"ArchiveTeam","parameters":[{"in":"path","name":"teamId","x-ms-summary":"Team","description":"The team ID.","required":true,"type":"string"},{"in":"body","name":"teamArchivingOptions","description":"In the request, you may optionally include the shouldSetSpoSiteReadOnlyForMembers parameter in a JSON body. This optional parameter defines whether to set permissions for team members to read-only on the SharePoint Online site associated with the team. Setting it to false or omitting the body altogether will result in this step being skipped.","required":false,"schema":{"title":"Team Archiving Options","description":"Team Archiving Options.","type":"object","properties":{"shouldSetSpoSiteReadOnlyForMembers":{"x-ms-summary":"Set SherePoint Read-Only","title":"Defines whether to set permissions for team members to read-only on the SharePoint Online site associated with the team","description":"Defines whether to set permissions for team members to read-only on the SharePoint Online site associated with the team.","type":"boolean"}}}}],"responses":{"201":{"description":"Accepted - The response will also contain a Location header, which contains the location of the teamsAsyncOperation that was created to handle archiving of the team. Check the status of the archiving operation by making a GET request to this location.","schema":{"type":"string","title":"Team Archiving","description":"Team Archiving Body."}},"400":{"description":"Bad Request – The server could not process the request due to client-side issues, such as invalid syntax or malformed data.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"401":{"description":"Unauthorized – Authentication failed. This usually occurs when the request lacks valid credentials (e.g., missing or expired token).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"402":{"description":"Payment Required – Access is restricted due to a lack of valid subscription or payment. Upgrade or renew your subscription to proceed.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"403":{"description":"Forbidden – The server understood the request, but the user does not have permission to access the requested resource.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"404":{"description":"Not Found – The requested resource could not be found on the server, or the server is unwilling to reveal its existence.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"429":{"description":"Too Many Requests – The user has sent too many requests in a given amount of time. Refer to the `Retry-After` header for when to retry.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"500":{"description":"Internal Server Error – The server encountered an unexpected condition that prevented it from completing the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"503":{"description":"Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}}},"/api/v3.0/teams/{teamId}/unarchive":{"post":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"UnarchiveTeam","revision":1},"summary":"Unarchive a Team","description":"Unarchive a team.","operationId":"UnarchiveTeam","parameters":[{"in":"path","name":"teamId","x-ms-summary":"Team","description":"The team ID.","required":true,"type":"string"}],"responses":{"201":{"description":"Accepted - The response will also contain a Location header, which contains the location of the teamsAsyncOperation that was created to handle archiving of the team. Check the status of the archiving operation by making a GET request to this location.","schema":{"type":"object","title":"Team Unarchive","description":"Team Urchiving Body."}},"400":{"description":"Bad Request – The server could not process the request due to client-side issues, such as invalid syntax or malformed data.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"401":{"description":"Unauthorized – Authentication failed. This usually occurs when the request lacks valid credentials (e.g., missing or expired token).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"402":{"description":"Payment Required – Access is restricted due to a lack of valid subscription or payment. Upgrade or renew your subscription to proceed.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"403":{"description":"Forbidden – The server understood the request, but the user does not have permission to access the requested resource.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"404":{"description":"Not Found – The requested resource could not be found on the server, or the server is unwilling to reveal its existence.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"429":{"description":"Too Many Requests – The user has sent too many requests in a given amount of time. Refer to the `Retry-After` header for when to retry.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"500":{"description":"Internal Server Error – The server encountered an unexpected condition that prevented it from completing the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"503":{"description":"Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}}},"/api/v3.0/teams/{teamId}/members":{"post":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"AddTeamMember","revision":1},"summary":"Invite a Member in a Team","description":"Invite a team member as a member or an owner.","operationId":"AddTeamMember","parameters":[{"in":"path","name":"teamId","x-ms-summary":"Team","description":"The team ID.","required":true,"type":"string"},{"in":"body","name":"TeamMembershipPayload","description":"A TeamMembershipPayload object.","required":true,"schema":{"title":"Team Membership Payload","description":"Team Membership Payload.","type":"object","properties":{"user":{"title":"User","description":"User","type":"object","properties":{"id":{"title":"ID","description":"User ID","type":"string","x-ms-summary":"ID","x-ms-visibility":"important"}},"required":["id"]},"role":{"title":"Team Membership Role","description":"Team Membership Role (member/owner)","type":"string","enum":["member","owner"]}},"required":["role","user"]}}],"responses":{"201":{"description":"Accepted - The response will also contain a Location header, which contains the location of the teamsAsyncOperation that was created to handle archiving of the team. Check the status of the archiving operation by making a GET request to this location.","schema":{"title":"Team Member","description":"Team member.","type":"object","properties":{"@odata.context":{"type":"string","description":"OData context URL"},"@odata.type":{"type":"string","description":"OData type identifier"},"id":{"type":"string","x-ms-summary":"ID","description":"Unique identifier"},"role":{"type":"string","x-ms-summary":"Role","description":"User role"},"displayName":{"type":"string","x-ms-summary":"displayName","description":"User display name"},"visibleHistoryStartDateTime":{"type":"string","x-ms-summary":"History Start Date Time","format":"date-time","description":"Start date-time for visible history"},"userId":{"type":"string","x-ms-summary":"User Id","description":"User identifier"},"email":{"x-ms-summary":"Email","type":"string","format":"email","description":"User email address"},"tenantId":{"type":"string","x-ms-summary":"Tenant ID","description":"Tenant identifier"}}}},"400":{"description":"Bad Request – The server could not process the request due to client-side issues, such as invalid syntax or malformed data.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"401":{"description":"Unauthorized – Authentication failed. This usually occurs when the request lacks valid credentials (e.g., missing or expired token).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"402":{"description":"Payment Required – Access is restricted due to a lack of valid subscription or payment. Upgrade or renew your subscription to proceed.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"403":{"description":"Forbidden – The server understood the request, but the user does not have permission to access the requested resource.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"404":{"description":"Not Found – The requested resource could not be found on the server, or the server is unwilling to reveal its existence.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"429":{"description":"Too Many Requests – The user has sent too many requests in a given amount of time. Refer to the `Retry-After` header for when to retry.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"500":{"description":"Internal Server Error – The server encountered an unexpected condition that prevented it from completing the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"503":{"description":"Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}}},"/api/v3.0/teams/provisioning":{"post":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"CreateTeamProvisioningJob","revision":1},"summary":"Create a Team Based on a Collaboration Template","description":"Create a team provisioning job based on a collaboration template. This template may include files, folders, Planner tasks, private channels...","operationId":"CreateTeamProvisioningJob","parameters":[{"in":"body","name":"TeamProvisioningRequest","description":"A TeamProvisioningRequest object describing the job to execute.","required":true,"schema":{"title":"Team Provisioning Request","description":"A request to provision a team based on a template from your corporate catalog. See [https://docs.nbold.co/api/latest/reference/Models/ProvisioningRequest](https://docs.nbold.co/api/latest/reference/Models/ProvisioningRequest) for more information.","type":"object","properties":{"template":{"description":"Template to be applied to the provisioned team","type":"object","properties":{"id":{"x-ms-summary":"Collaboration Template","description":"The collaboration template ID","x-ms-visibility":"important","x-ms-dynamic-values":{"operationId":"GetMyCatalogTemplates","value-path":"template_id","value-title":"name"},"type":"string","title":"Collaboration Template"},"templateName":{"x-ms-summary":"Template Name","description":"Name of the collaboration template","type":"string"}},"required":["id"]},"team":{"description":"Properties of the team to be created","type":"object","properties":{"name":{"x-ms-summary":"Team Name","description":"Requested team name","x-ms-visibility":"important","type":"string"},"description":{"x-ms-summary":"Team Description","description":"Requested team description","x-ms-visibility":"advanced","type":"string"},"welcomeMessage":{"x-ms-summary":"Team Welcome Message","description":"Requested team welcome message","x-ms-visibility":"advanced","type":"string"},"visibility":{"x-ms-summary":"Team Visibility","description":"Visibility of the team (public or private)","x-ms-visibility":"advanced","type":"string","enum":["public","private"]},"membership":{"description":"Requested members and owners of the team to be provisioned","type":"object","properties":{"members":{"title":"Teams Members","x-ms-summary":"Team Members","description":"An array of UserIdentifier. See [https://docs.nbold.co/api/latest/reference/Models/UserIdentifier](https://docs.nbold.co/api/latest/reference/Models/UserIdentifier) for more information.","type":"array","items":{"title":"Team","x-ms-summary":"Team","description":"Team member ID. See [https://docs.nbold.co/api/latest/reference/Models/UserIdentifier](https://docs.nbold.co/api/latest/reference/Models/UserIdentifier) for more information.","type":"object","properties":{"id":{"title":"Team member ID","x-ms-summary":"Member","description":"Team member ID.","type":"string"}}}},"owners":{"x-ms-summary":"Team Owners","title":"Team Owners","description":"An array of UserIdentifier. See [https://docs.nbold.co/api/latest/reference/Models/UserIdentifier](https://docs.nbold.co/api/latest/reference/Models/UserIdentifier) for more information.","type":"array","items":{"title":"Team","x-ms-summary":"Team","description":"Team owner ID. See [https://docs.nbold.co/api/latest/reference/Models/UserIdentifier](https://docs.nbold.co/api/latest/reference/Models/UserIdentifier) for more information.","type":"object","properties":{"id":{"title":"Owner ID","x-ms-summary":"Owner","description":"Team owner ID","type":"string"}}}}}}}},"metadata":{"title":"Metadata","x-ms-summary":"Metadata","description":"Additional metadata as a JSON object. See [https://docs.nbold.co/api/latest/reference/Models/TeamProvisioningRequest](https://docs.nbold.co/api/latest/reference/Models/TeamProvisioningRequest) for more information.","type":"object"}},"required":["team","template"]}}],"responses":{"201":{"description":"Created - Returns a Job object.","schema":{"description":"Team Created Completed Notification Payload.","type":"object","title":"Team Created Completed Notification Payload","x-ms-summary":"Team Created Completed Notification Payload","properties":{"correlation_id":{"type":"string","title":"Correlation ID","x-ms-summary":"Correlation ID","description":"Unique identifier for tracking the request."},"credentials":{"type":"object","title":"Credentials","x-ms-summary":"Credentials","description":"Details about the service account credentials.","properties":{"id":{"type":"string","title":"Credential ID","x-ms-summary":"Credential ID","description":"Unique identifier for the credentials."},"type":{"type":"string","title":"Credential Type","x-ms-summary":"Credential Type","description":"Type of credentials (e.g., service_account)."},"service_account_object_id":{"type":"string","title":"Service Account Object ID","x-ms-summary":"Service Account Object ID","description":"Object ID of the service account."},"service_account_name":{"type":"string","title":"Service Account Name","x-ms-summary":"Service Account Name","description":"Name of the service account."},"service_account_upn":{"type":"string","title":"Service Account UPN","x-ms-summary":"Service Account UPN","description":"User Principal Name of the service account."},"service_account_access_token":{"type":"string","title":"Access Token","x-ms-summary":"Access Token","description":"Access token for the service account."},"service_account_refresh_token":{"type":"string","title":"Refresh Token","x-ms-summary":"Refresh Token","description":"Refresh token for the service account."},"renewal_success":{"type":"boolean","title":"Renewal Success","x-ms-summary":"Renewal Success","description":"Indicates if the token renewal was successful."},"renewal_error_message":{"type":"string","title":"Renewal Error Message","x-ms-summary":"Renewal Error Message","description":"Error message if token renewal failed."},"granted_permissions":{"type":"string","title":"Granted Permissions","x-ms-summary":"Granted Permissions","description":"Permissions granted to the service account."},"missing_permissions":{"type":"string","title":"Missing Permissions","x-ms-summary":"Missing Permissions","description":"Permissions missing for the service account."},"reports_concealed_option":{"type":"boolean","title":"Reports Concealed Option","x-ms-summary":"Reports Concealed Option","description":"Indicates if reports are concealed."},"created_at":{"type":"string","format":"date-time","title":"Created At","x-ms-summary":"Created At","description":"Timestamp when the credentials were created."},"updated_at":{"type":"string","format":"date-time","title":"Updated At","x-ms-summary":"Updated At","description":"Timestamp when the credentials were last updated."},"organization_id":{"type":"string","title":"Organization ID","x-ms-summary":"Organization ID","description":"Identifier for the organization (if applicable)."}}},"tenant":{"type":"object","title":"Tenant","x-ms-summary":"Tenant","description":"Tenant information.","properties":{"id":{"type":"string","title":"Tenant ID","x-ms-summary":"ID","description":"Unique identifier for the tenant."},"tenant_id":{"type":"string","title":"Tenant Identifier","x-ms-summary":"Tenant ID","description":"Tenant identifier."}}},"team":{"type":"object","title":"Team","x-ms-summary":"Team","description":"Team information.","properties":{"id":{"type":"string","title":"Team ID","x-ms-summary":"Team ID","description":"Unique identifier for the team."},"displayName":{"type":"string","title":"Team Display Name","x-ms-summary":"Display Name","description":"Name of the team."},"sharepoint":{"type":"object","title":"SharePoint","x-ms-summary":"SharePoint","description":"SharePoint site details associated with the team.","properties":{"@odata.context":{"type":"string","title":"OData Context","x-ms-summary":"@odata.context","description":"OData context for the SharePoint site."},"createdDateTime":{"type":"string","format":"date-time","title":"SharePoint Created DateTime","x-ms-summary":"Created DateTime","description":"Creation date and time of the SharePoint site."},"description":{"type":"string","title":"SharePoint Description","x-ms-summary":"Description","description":"Description of the SharePoint site."},"id":{"type":"string","title":"SharePoint ID","x-ms-summary":"SharePoint ID","description":"Identifier of the SharePoint site."},"lastModifiedDateTime":{"type":"string","format":"date-time","title":"SharePoint Last Modified DateTime","x-ms-summary":"Last Modified DateTime","description":"Last modification date and time of the SharePoint site."},"name":{"type":"string","title":"SharePoint Name","x-ms-summary":"Name","description":"Name of the SharePoint site."},"webUrl":{"type":"string","title":"SharePoint Web URL","x-ms-summary":"Web URL","description":"URL of the SharePoint site."},"displayName":{"type":"string","title":"SharePoint Display Name","x-ms-summary":"Display Name","description":"Display name of the SharePoint site."},"root":{"type":"object","title":"SharePoint Root","x-ms-summary":"Root","description":"Root object of the SharePoint site."},"siteCollection":{"type":"object","title":"SharePoint Site Collection","x-ms-summary":"Site Collection","description":"Details about the site collection.","properties":{"hostname":{"type":"string","title":"Site Collection Hostname","x-ms-summary":"Hostname","description":"Hostname of the site collection."}}}}}},"required":["id","displayName","sharepoint"]},"template":{"type":"object","title":"Template","x-ms-summary":"Template","description":"Template details.","properties":{"id":{"type":"string","title":"Template ID","x-ms-summary":"Template ID","description":"Identifier for the template."},"name":{"type":"string","title":"Template Name","x-ms-summary":"Template Name","description":"Name of the template."}}},"requester":{"type":"object","title":"Requester","x-ms-summary":"Requester","description":"Information about the requester.","properties":{"id":{"type":"string","title":"Requester ID","x-ms-summary":"Requester ID","description":"Unique identifier for the requester."},"displayName":{"type":"string","title":"Requester Display Name","x-ms-summary":"Display Name","description":"Display name of the requester."},"mail":{"type":"string","title":"Requester Email","x-ms-summary":"Email","description":"Email address of the requester."}}},"metadata":{"type":"object","title":"Metadata","x-ms-summary":"Metadata","description":"Additional metadata associated with the request.","properties":{"deal_room_hs":{"type":"object","title":"Deal Room HS","x-ms-summary":"Deal Room HS","description":"HubSpot deal room details.","properties":{"deal_id":{"type":"string","title":"Deal Room HS Deal ID","x-ms-summary":"Deal ID","description":"Identifier for the HubSpot deal."}}},"deal":{"type":"object","title":"Deal","x-ms-summary":"Deal","description":"Deal information.","properties":{"createdAt":{"type":"string","format":"date-time","title":"Deal Created At","x-ms-summary":"Created At","description":"Deal creation timestamp."},"archived":{"type":"boolean","title":"Deal Archived","x-ms-summary":"Archived","description":"Indicates if the deal is archived."},"id":{"type":"string","title":"Deal ID","x-ms-summary":"Deal ID","description":"Identifier for the deal."},"properties":{"type":"object","title":"Deal Properties","x-ms-summary":"Deal Properties","description":"Properties related to the deal.","properties":{"amount":{"type":"string","title":"Deal Amount","x-ms-summary":"Amount","description":"Deal amount."},"closedate":{"type":"string","format":"date-time","title":"Deal Close Date","x-ms-summary":"Close Date","description":"Expected close date of the deal."},"createdate":{"type":"string","format":"date-time","title":"Deal Create Date","x-ms-summary":"Create Date","description":"Creation date of the deal."},"dealname":{"type":"string","title":"Deal Name","x-ms-summary":"Deal Name","description":"Name of the deal."},"dealstage":{"type":"string","title":"Deal Stage","x-ms-summary":"Deal Stage","description":"Current stage of the deal."},"hs_lastmodifieddate":{"type":"string","format":"date-time","title":"Deal Last Modified Date","x-ms-summary":"Last Modified Date","description":"Timestamp of the last modification."},"hs_object_id":{"type":"string","title":"HubSpot Object ID","x-ms-summary":"HubSpot Object ID","description":"HubSpot's unique identifier for the deal."},"hubspot_owner_id":{"type":"string","title":"HubSpot Owner ID","x-ms-summary":"HubSpot Owner ID","description":"Owner identifier in HubSpot."},"pipeline":{"type":"string","title":"Deal Pipeline","x-ms-summary":"Pipeline","description":"Sales pipeline identifier."}}},"updatedAt":{"type":"string","format":"date-time","title":"Deal Updated At","x-ms-summary":"Updated At","description":"Timestamp when the deal was last updated."}}}},"required":["deal_room_hs","deal"]},"status":{"type":"string","title":"Status","x-ms-summary":"Status","description":"Status of the operation."}},"required":["correlation_id","credentials","tenant","team","template","requester","metadata","status"]}},"400":{"description":"Bad Request – The server could not process the request due to client-side issues, such as invalid syntax or malformed data.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"401":{"description":"Unauthorized – Authentication failed. This usually occurs when the request lacks valid credentials (e.g., missing or expired token).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"402":{"description":"Payment Required – Access is restricted due to a lack of valid subscription or payment. Upgrade or renew your subscription to proceed.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"403":{"description":"Forbidden – The server understood the request, but the user does not have permission to access the requested resource.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"404":{"description":"Not Found – The requested resource could not be found on the server, or the server is unwilling to reveal its existence.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"429":{"description":"Too Many Requests – The user has sent too many requests in a given amount of time. Refer to the `Retry-After` header for when to retry.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"500":{"description":"Internal Server Error – The server encountered an unexpected condition that prevented it from completing the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"503":{"description":"Service Unavailable – The server is currently unable to handle the request due to temporary overload or maintenance.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}}},"/api/v3.0/teams/{teamId}/channels":{"get":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"GetTeamChannels","revision":1},"summary":"Get the Channels of a Team","description":"Get all the channels of a team.","operationId":"GetTeamChannels","parameters":[{"in":"path","name":"teamId","x-ms-summary":"Team","description":"The team ID.","required":true,"type":"string"}],"responses":{"200":{"description":"OK - Returns a list of Team Channels.","schema":{"type":"object","properties":{"value":{"type":"array","description":"List of team channels","items":{"type":"object","properties":{"id":{"x-ms-summary":"ID","description":"Team Channel ID","type":"string"},"createdDateTime":{"x-ms-summary":"Created Date Time","description":"Team Channel Created Date Time","type":"string"},"displayName":{"x-ms-summary":"Display Name","description":"Team Channel Display Name","type":"string"},"description":{"x-ms-summary":"Description","description":"Team Channel Description","type":"string"},"isFavoriteByDefault":{"x-ms-summary":"Is Favorite By Default","description":"Whether the channel is favorited by default","type":"boolean"},"email":{"x-ms-summary":"Email","description":"Email address of the channel","type":"string"},"tenantId":{"x-ms-summary":"Tenant ID","description":"Azure Active Directory tenant ID","type":"string"},"webUrl":{"x-ms-summary":"Web URL","description":"Web URL of the channel","type":"string"},"membershipType":{"x-ms-summary":"Membership Type","description":"Type of channel membership (e.g., standard, private)","type":"string"},"isArchived":{"x-ms-summary":"Is Archived","description":"Whether the channel is archived","type":"boolean"}}}}}}},"400":{"description":"Bad Request – The server could not process the request due to client-side issues, such as invalid syntax or malformed data.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"401":{"description":"Unauthorized – Authentication failed. This usually occurs when the request lacks valid credentials (e.g., missing or expired token).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"402":{"description":"Payment Required – Access is restricted due to a lack of valid subscription or payment. Upgrade or renew your subscription to proceed.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"403":{"description":"Forbidden – The server understood the request, but the user does not have permission to access the requested resource.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"404":{"description":"Not Found – The requested resource could not be found on the server, or the server is unwilling to reveal its existence.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"429":{"description":"Too Many Requests – The user has sent too many requests in a given amount of time. Refer to the `Retry-After` header for when to retry.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"500":{"description":"Internal Server Error – The server encountered an unexpected condition that prevented it from completing the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"503":{"description":"Service Unavailable – The server is currently unable to handle the request due to temporary overload or maintenance.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}},"post":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Production","family":"CreateTeamChannel","revision":1},"summary":"Create a Channel in a Team","description":"Create a new team channel.","operationId":"CreateTeamChannel","parameters":[{"in":"path","name":"teamId","x-ms-summary":"Team","description":"The team ID.","required":true,"type":"string"},{"in":"body","name":"Team Channel","description":"A TeamChannelPayload object describing the channel to create.","required":true,"schema":{"title":"Team Channel Payload","description":"Payload of a Microsoft Teams team channel to be created/updated.","type":"object","properties":{"displayName":{"title":"display name","type":"string","description":"The name of the channel"},"description":{"title":"description","type":"string","description":"A brief description of the channel"},"membershipType":{"title":"type membership","type":"string","enum":["standard","private","shared"],"description":"The type of membership for the channel (e.g., standard or private)"}},"required":["displayName","membershipType"]}}],"responses":{"201":{"description":"Created - Returns a Job object.","schema":{"title":"Team Channel Response","description":"Response payload for a created Microsoft Teams channel.","type":"object","properties":{"@odata.context":{"type":"string","format":"uri","description":"OData context URL","x-ms-summary":"OData metadata URL"},"id":{"type":"string","description":"Unique identifier of the channel","x-ms-summary":"ID"},"createdDateTime":{"type":"string","format":"date-time","description":"Timestamp when the channel was created","x-ms-summary":"Creation date"},"displayName":{"type":"string","description":"The name of the channel","x-ms-summary":"Name"},"description":{"type":"string","description":"A brief description of the channel","x-ms-summary":"Description"},"isFavoriteByDefault":{"type":"boolean","description":"Indicates whether the channel is favorited by default","x-ms-summary":"Favorite by default"},"email":{"type":"string","description":"The email address associated with the channel (if applicable)","x-ms-summary":"Email"},"webUrl":{"type":"string","format":"uri","description":"The web URL to access the channel","x-ms-summary":"Web link"},"membershipType":{"type":"string","enum":["standard","private","shared"],"description":"The type of membership for the channel","x-ms-summary":"Membership type"},"isArchived":{"type":"boolean","description":"Indicates whether the channel is archived","x-ms-summary":"Archive status"}}}},"400":{"description":"Bad Request – The server could not process the request due to client-side issues, such as invalid syntax or malformed data.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"401":{"description":"Unauthorized – Authentication failed. This usually occurs when the request lacks valid credentials (e.g., missing or expired token).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"402":{"description":"Payment Required – Access is restricted due to a lack of valid subscription or payment. Upgrade or renew your subscription to proceed.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"403":{"description":"Forbidden – The server understood the request, but the user does not have permission to access the requested resource.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"404":{"description":"Not Found – The requested resource could not be found on the server, or the server is unwilling to reveal its existence.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"429":{"description":"Too Many Requests – The user has sent too many requests in a given amount of time. Refer to the `Retry-After` header for when to retry.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"500":{"description":"Internal Server Error – The server encountered an unexpected condition that prevented it from completing the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"503":{"description":"Service Unavailable – The server is currently unable to handle the request due to temporary overload or maintenance.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}}},"/api/v3.0/teams/{teamId}/channels/primary":{"get":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"GetTeamPrimaryChannel","revision":1},"summary":"Get the Primary Channel of a Team","description":"Get the primary channel of a team.","operationId":"GetTeamPrimaryChannel","parameters":[{"in":"path","name":"teamId","x-ms-summary":"Team","description":"The team ID.","required":true,"type":"string"}],"responses":{"200":{"description":"OK - Returns a TeamChannel object.","schema":{"title":"Team Channel","description":"Channel of a Microsoft Teams team.","type":"object","properties":{"id":{"x-ms-summary":"ID","description":"Team Channel ID","type":"string"},"createdDateTime":{"x-ms-summary":"Created Date Time","description":"Team Channel Created Date Time","type":"string"},"displayName":{"x-ms-summary":"Display Name","description":"Team Channel Display Name","type":"string"},"description":{"x-ms-summary":"Description","description":"Team Channel Description","type":"string"},"membershipType":{"x-ms-summary":"Membership Type","description":"Team Channel Membership Type","type":"string"}}}},"400":{"description":"Bad Request – The server could not process the request due to client-side issues, such as invalid syntax or malformed data.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"401":{"description":"Unauthorized – Authentication failed. This usually occurs when the request lacks valid credentials (e.g., missing or expired token).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"402":{"description":"Payment Required – Access is restricted due to a lack of valid subscription or payment. Upgrade or renew your subscription to proceed.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"403":{"description":"Forbidden – The server understood the request, but the user does not have permission to access the requested resource.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"404":{"description":"Not Found – The requested resource could not be found on the server, or the server is unwilling to reveal its existence.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"429":{"description":"Too Many Requests – The user has sent too many requests in a given amount of time. Refer to the `Retry-After` header for when to retry.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"500":{"description":"Internal Server Error – The server encountered an unexpected condition that prevented it from completing the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"503":{"description":"Service Unavailable – The server is currently unable to handle the request due to temporary overload or maintenance.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}}},"/api/v3.0/teams/{teamId}/channels/{channelId}/tabs":{"post":{"tags":["Teams"],"x-ms-visibility":"important","deprecated":false,"x-ms-api-annotation":{"status":"Preview","family":"CreateTeamChannelTab","revision":1},"summary":"Create a Tab in a Team Channel","description":"Create a new tab in a team channel.","operationId":"CreateTeamChannelTab","parameters":[{"in":"path","name":"teamId","x-ms-summary":"Team","description":"The team ID.","required":true,"type":"string"},{"in":"path","name":"channelId","x-ms-summary":"Channel","description":"The team channel ID.","required":true,"type":"string"},{"in":"body","name":"teamChannelTabPayload","description":"A TeamChannelTabPayload object describing the channel to creat.","required":true,"schema":{"title":"Team Channel Tab Payload","description":"Payload of a Microsoft Teams team channel tab to be created/updated.","type":"object","properties":{"displayName":{"type":"string","description":"The name of the tab","x-ms-summary":"Tab name"},"teamsApp@odata.bind":{"type":"string","format":"uri","description":"The OData bind URL for the Teams app to be associated with the tab","x-ms-summary":"Teams app binding URL"},"configuration":{"type":"object","description":"Configuration settings for the tab","x-ms-summary":"Tab configuration details","properties":{"entityId":{"type":"string","description":"Unique identifier for the tab content","x-ms-summary":"Tab entity ID"},"contentUrl":{"type":"string","format":"uri","description":"The URL that loads the tab content","x-ms-summary":"Tab content URL","title":"Tab content URL","x-ms-visibility":"important"},"websiteUrl":{"type":"string","format":"uri","description":"The website URL associated with the tab","x-ms-summary":"Tab website URL"},"removeUrl":{"type":"string","format":"uri","description":"The URL to remove/uninstall the tab","x-ms-summary":"Tab removal URL"}},"required":["contentUrl"]}},"required":["displayName","teamsApp@odata.bind","configuration"]}}],"responses":{"201":{"description":"Created - Returns a TeamChannelTab object.","schema":{"type":"object","properties":{"@odata.context":{"description":"OData metadata context URL","type":"string"},"id":{"x-ms-summary":"ID","description":"Team Channel Tab ID","type":"string"},"displayName":{"x-ms-summary":"Display Name","description":"Team Channel Tab Display Name","type":"string"},"webUrl":{"x-ms-summary":"Web URL","description":"Team Channel Tab Web URL","type":"string"},"configuration":{"x-ms-summary":"Configuration","description":"Team Channel Tab Configuration","type":"object","properties":{"entityId":{"x-ms-summary":"Entity ID","description":"Configuration Entity ID","type":"string"},"contentUrl":{"x-ms-summary":"Content URL","description":"Configuration Content URL","type":"string"},"removeUrl":{"x-ms-summary":"Remove URL","description":"Configuration Remove URL","type":"string"},"websiteUrl":{"x-ms-summary":"Website URL","description":"Configuration Website URL","type":"string"}}}}}},"400":{"description":"Bad Request – The server could not process the request due to client-side issues, such as invalid syntax or malformed data.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"401":{"description":"Unauthorized – Authentication failed. This usually occurs when the request lacks valid credentials (e.g., missing or expired token).","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"402":{"description":"Payment Required – Access is restricted due to a lack of valid subscription or payment. Upgrade or renew your subscription to proceed.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"403":{"description":"Forbidden – The server understood the request, but the user does not have permission to access the requested resource.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"404":{"description":"Not Found – The requested resource could not be found on the server, or the server is unwilling to reveal its existence.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"429":{"description":"Too Many Requests – The user has sent too many requests in a given amount of time. Refer to the `Retry-After` header for when to retry.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"500":{"description":"Internal Server Error – The server encountered an unexpected condition that prevented it from completing the request.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"503":{"description":"Service Unavailable – The server is currently unable to handle the request due to temporary overload or maintenance.","schema":{"title":"API Error","description":"A generic API error","type":"object","properties":{"message":{"description":"The error message","type":"string"},"error":{"description":"JSON representation of the error","type":"string"},"statusCode":{"description":"HTTP status code","type":"integer"}}}},"default":{"description":"Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request."}}}},"/api/v3.0/teams/copy/channel":{"post":{"tags":["Teams"],"x-ms-visibility":"advanced","x-ms-api-annotation":{"status":"Preview","family":"CopyTeamChannel","revision":1},"x-ms-summary":"Copy a Channel","parameters":[{"in":"body","name":"teamCopyChannelPayload","description":"A TeamCopyChannelPayload object describing the channel to copy.","required":true,"schema":{"type":"object","required":["sourceTeamId","sourceChannelName","sourceChannelId","targetTeamId"],"properties":{"sourceTeamId":{"type":"string","description":"The ID of the source team.","x-ms-summary":"Source Team Id"},"sourceChannelName":{"type":"string","description":"The name of the channel to copy.","x-ms-summary":"Source Channel Name"},"sourceChannelId":{"type":"string","description":"The ID of the source channel.","x-ms-summary":"Source Channel Id"},"targetTeamId":{"type":"string","description":"The ID of the target team.","x-ms-summary":"Target Team Id"},"metadataChannel":{"type":"object","description":"Metadata channel details.","x-ms-summary":"Metadata Details","properties":{"salesforceConfig":{"type":"object","description":"Salesforce configuration details.","x-ms-summary":"Salesforce Config","properties":{"displayName":{"type":"string","description":"The display name for Salesforce.","x-ms-summary":"Salesforce Display Name"},"webUrl":{"type":"string","description":"The website URL associated with Salesforce.","x-ms-summary":"Salesforce Website URL"},"entityId":{"type":"string","description":"Unique identifier for the content.","x-ms-summary":"Entity ID"},"contentUrl":{"type":"string","format":"uri","description":"The URL that loads the content.","x-ms-summary":"Tab Content URL","title":"Tab Content URL"},"websiteUrl":{"type":"string","format":"uri","description":"The website URL.","x-ms-summary":"Website URL"}}},"cuddyBrainConfig":{"type":"object","description":"Cuddy Brain configuration details.","x-ms-summary":"Cuddy Brain Config","properties":{"teamAppId":{"type":"string","description":"Unique identifier for the team app.","x-ms-summary":"Team App ID"},"displayName":{"type":"string","description":"The display name for Cuddy Brain.","x-ms-summary":"Cuddy Brain Display Name"},"webUrl":{"type":"string","description":"The website URL associated with Cuddy Brain.","x-ms-summary":"Cuddy Brain Website URL"},"entityId":{"type":"string","description":"Unique identifier for the content.","x-ms-summary":"Entity ID"},"contentUrl":{"type":"string","format":"uri","description":"The URL that loads the content.","x-ms-summary":"Tab Content URL","title":"Tab Content URL"},"websiteUrl":{"type":"string","format":"uri","description":"The website URL.","x-ms-summary":"Website URL"}}}}},"salesforce":{"type":"boolean","description":"Indicates whether Salesforce integration is enabled for the channel.","x-ms-summary":"Enable Salesforce Integration"}}}}],"responses":{"201":{"description":"The copy channel operation has been accepted and is being processed asynchronously. The response includes details about the job status and metadata related to the user, team, and operation. You can track the operation status via the returned job object.","schema":{"type":"object","title":"Copy Channel Operation","x-m-summary":"Details of the asynchronous copy channel operation","description":"Details of the asynchronous operation initiated to copy a channel.","properties":{"id":{"type":"string","format":"uuid","title":"Job ID","x-m-summary":"Unique job identifier","description":"Unique identifier of the copy job."},"name":{"type":"string","title":"Job Name","x-m-summary":"Job name","description":"Name of the job."},"data":{"type":"object","title":"Job Data","x-m-summary":"Job data","description":"Contains data related to the channel copy operation.","properties":{"sourceChannelId":{"type":"string","title":"Source Channel ID","x-m-summary":"Source channel ID","description":"Identifier of the source channel."},"channelName":{"type":"string","title":"Channel Name","x-m-summary":"Channel name","description":"Name of the channel being copied."},"sourceTeamId":{"type":"string","title":"Source Team ID","x-m-summary":"Source team ID","description":"Identifier of the source team."},"targetTeamId":{"type":"string","title":"Target Team ID","x-m-summary":"Target team ID","description":"Identifier of the target team."},"metadataChannel":{"type":"object","title":"Channel Metadata","x-m-summary":"Channel metadata","description":"Metadata related to the channel configuration.","properties":{"salesforceConfig":{"type":"object","title":"Salesforce Configuration","x-m-summary":"Salesforce configuration","description":"Configuration details for Salesforce integration.","properties":{"displayName":{"type":"string","title":"Salesforce Display Name","x-m-summary":"Salesforce display name","description":"Display name for Salesforce configuration."},"webUrl":{"type":"string","title":"Salesforce Web URL","x-m-summary":"Salesforce web URL","description":"Web URL for Salesforce configuration."},"entityId":{"type":"string","title":"Salesforce Entity ID","x-m-summary":"Salesforce entity ID","description":"Entity ID for Salesforce configuration."},"contentUrl":{"type":"string","title":"Salesforce Content URL","x-m-summary":"Salesforce content URL","description":"Content URL for Salesforce configuration."},"websiteUrl":{"type":"string","title":"Salesforce Website URL","x-m-summary":"Salesforce website URL","description":"Website URL for Salesforce configuration."}}},"cuddyBrainConfig":{"type":"object","title":"Cuddy Brain Configuration","x-m-summary":"Cuddy Brain configuration","description":"Configuration details for Cuddy Brain integration.","properties":{"teamAppId":{"type":"string","title":"Cuddy Brain Team App ID","x-m-summary":"Cuddy Brain team app ID","description":"Team application ID for Cuddy Brain configuration."},"displayName":{"type":"string","title":"Cuddy Brain Display Name","x-m-summary":"Cuddy Brain display name","description":"Display name for Cuddy Brain configuration."},"webUrl":{"type":"string","title":"Cuddy Brain Web URL","x-m-summary":"Cuddy Brain web URL","description":"Web URL for Cuddy Brain configuration."},"entityId":{"type":"string","title":"Cuddy Brain Entity ID","x-m-summary":"Cuddy Brain entity ID","description":"Entity ID for Cuddy Brain configuration."},"contentUrl":{"type":"string","title":"Cuddy Brain Content URL","x-m-summary":"Cuddy Brain content URL","description":"Content URL for Cuddy Brain configuration."},"websiteUrl":{"type":"string","title":"Cuddy Brain Website URL","x-m-summary":"Cuddy Brain website URL","description":"Website URL for Cuddy Brain configuration."}}}}},"salesforce":{"type":"boolean","title":"Salesforce Enabled","x-m-summary":"Salesforce enabled","description":"Indicates if Salesforce is enabled."},"cuddy_brain":{"type":"boolean","title":"Cuddy Brain Enabled","x-m-summary":"Cuddy Brain enabled","description":"Indicates if Cuddy Brain is enabled."},"metadata":{"type":"object","title":"User and Organization Metadata","x-m-summary":"User and organization metadata","description":"Metadata about the user and organization.","properties":{"roles":{"type":"array","title":"User Roles","x-m-summary":"User roles","description":"List of user roles.","items":{"type":"string","title":"Role Name","x-m-summary":"Role name","description":"A single role assigned to the user."}},"id":{"type":"string","title":"User ID","x-m-summary":"User ID","description":"User identifier."},"object_id":{"type":"string","title":"Object ID","x-m-summary":"Object ID","description":"Object identifier."},"intercom_hash":{"type":"string","title":"Intercom Hash","x-m-summary":"Intercom hash","description":"Intercom hash for user identification."},"display_name":{"type":"string","title":"User Display Name","x-m-summary":"User display name","description":"Display name of the user."},"email":{"type":"string","title":"User Email","x-m-summary":"User email","description":"User's email address."},"given_name":{"type":"string","title":"User Given Name","x-m-summary":"User given name","description":"User's given name."},"surname":{"type":"string","title":"User Surname","x-m-summary":"User surname","description":"User's surname."},"preferred_language":{"type":"string","title":"User Preferred Language","x-m-summary":"User preferred language","description":"User's preferred language."},"user_principal_name":{"type":"string","title":"User Principal Name","x-m-summary":"User principal name","description":"User's principal name."},"usage_location":{"type":"string","title":"User Usage Location","x-m-summary":"User usage location","description":"User's usage location."},"business_phones":{"type":"array","title":"Business Phone Numbers","x-m-summary":"Business phone numbers","description":"List of user's business phone numbers.","items":{"type":"string","title":"Phone Number","x-m-summary":"Phone number","description":"A single business phone number."}},"user_type":{"type":"string","title":"User Type","x-m-summary":"User type","description":"Type of user."},"ui_version":{"type":"integer","title":"UI Version","x-m-summary":"UI version","description":"UI version used by the user."},"created_at":{"type":"string","format":"date-time","title":"User Creation Timestamp","x-m-summary":"User creation timestamp","description":"Timestamp when the user was created."},"updated_at":{"type":"string","format":"date-time","title":"User Update Timestamp","x-m-summary":"User update timestamp","description":"Timestamp when the user was last updated."},"organization":{"type":"object","title":"Organization Details","x-m-summary":"Organization details","description":"Details about the organization.","properties":{"id":{"type":"string","title":"Organization ID","x-m-summary":"Organization ID","description":"Organization identifier."},"name":{"type":"string","title":"Organization Name","x-m-summary":"Organization name","description":"Name of the organization."},"tenant_id":{"type":"string","title":"Tenant ID","x-m-summary":"Tenant ID","description":"Tenant identifier."},"preferred_language":{"type":"string","title":"Organization Preferred Language","x-m-summary":"Organization preferred language","description":"Organization's preferred language."},"tenant_initial_domain":{"type":"string","title":"Initial Tenant Domain","x-m-summary":"Initial tenant domain","description":"Initial domain of the tenant."},"tenant_default_domain":{"type":"string","title":"Default Tenant Domain","x-m-summary":"Default tenant domain","description":"Default domain of the tenant."},"is_enabled":{"type":"boolean","title":"Organization Enabled Status","x-m-summary":"Organization enabled status","description":"Indicates if the organization is enabled."},"is_archived":{"type":"boolean","title":"Organization Archived Status","x-m-summary":"Organization archived status","description":"Indicates if the organization is archived."},"country_code":{"type":"string","title":"Organization Country Code","x-m-summary":"Organization country code","description":"Country code of the organization."},"lifecycle_stage":{"type":"string","title":"Organization Lifecycle Stage","x-m-summary":"Organization lifecycle stage","description":"Lifecycle stage of the organization."},"created_at":{"type":"string","format":"date-time","title":"Organization Creation Timestamp","x-m-summary":"Organization creation timestamp","description":"Timestamp when the organization was created."},"updated_at":{"type":"string","format":"date-time","title":"Organization Update Timestamp","x-m-summary":"Organization update timestamp","descrip
[...]
